.popup-foto__close-button {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-image: url(../../../images/Close.svg);
 background-color: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 5000;
  right: 10vw;
  top: 7vh;
}

.popup-foto__close-button:hover {
  opacity: 0.6;
  transition: 0.5s;
}
@media (max-width: 320px) {
  .popup-foto__close-button {
    right: 11vw;
    top: 27vh;
  }
}
